<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/library.js"></script>

<script th:inline="javascript">

const HOST_NAME	     = [[${publicIp}]]
const DRONE_ID       = [[${droneId}]]
const VIDEO_ENDPOINT = [[${videoEndpoint}]]

const videoStreamClient = new VideoStreamClient(DRONE_ID, HOST_NAME, 80, VIDEO_ENDPOINT)

$(document).ready( function(){
  $("img").attr("id", "video" + DRONE_ID)
  videoStreamClient.activateStream()
});

</script> 

<title>ODAFA - Operate Drones Anywhere From Anywhere</title> 

</head>

<body>  
     <img style="width: 100%;" />
</body>
</html> 